<nav class="{{ include.navtype }} ">
  <ul>
    <li><a href="{{site.baseurl}}/" {% if page.url == '/' %}class="current"{% endif %}>Home</a></li>
    <li><a href="{{site.baseurl}}/about/" {% if page.url contains 'about' %}class="current"{% endif %}>About</a></li>
    <li><a href="{{site.baseurl}}/works/" {% if page.url contains 'work' %}class="current"{% endif %}>Works</a></li>
    <li><a {% if page.url contains 'playground' %}class="current"{% endif %}>Playground</a></li>
    <li><a {% if page.url contains 'writings' %}class="current"{% endif %}>Writings</a></li>
    <li><a {% if page.url contains 'freebies' %}class="current"{% endif %}>Freebies</a></li>
    <li><a href="{{site.baseurl}}/contact/" {% if page.url contains 'contact' %}class="current"{% endif %}>Contact</a></li>
  </ul>
  <p class="copyright-info on-nav">&copy; 2017 Satrio Yamanda Putra</p>
</nav>