html {
  font-size: $font-base-size;
}

body {
  font-family: $font-secondary;
  box-sizing: border-box;
  transform: translateX(0);
  transition: transform 0.35s ease-out;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background-color: $color-brand;
  color: $color-light;
}