@mixin mq($screen) {
  @if $screen == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if $screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin unit {
  float: left;
  padding-left: $padding;
  padding-right: $padding;
}