$font-base-size: 16px;
$font-base-line: 1.5;

$font-primary: "Pier Sans", "Arial", sans-serif;
$font-secondary: "Merriweather", "Georgia", serif;

$color-dark: #333;
$color-light: #fff;
$color-brand: #05f;

$layout-width: 1200px;
$padding: round($font-base-size * $font-base-line / 2);

$tablet: 720px;
$desktop: 1000px;