form {
  &.full {
    input[type="text"], 
    textarea {
      display: block;
      width: 100%;
    }
  }
}

input[type="text"],
textarea {
  padding: 0.67em;
  border: 4px solid black;
  margin-top: 0.67em;
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
}

button,
.button,
input[type="button"],
input[type="submit"] {
  display: block;
  font-family: $font-primary;
  text-transform: uppercase;
  padding: 0.67em 1em;
  @extend .has-border;
  @extend .has-shadow;
  text-align: center;
  &:hover {
    color: black;
  }
}

.is-cta {
  background-color: $color-cta;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    background-color: darken($color-cta, 5%);
  }
}