.slides {
  position: relative;
  margin-bottom: 1.5em;
  background-color: $color-brand;
  & .slide-img {
    max-height: 61.8vh;
    object-fit: cover;
    overflow: hidden;
  }
  & img {
    width: 100%;
  }
  @include mq(desktop) {
    & .slide-caption {
      font-size: 0.67em;
      position: absolute;
      right: -2.22em;
      top: 2.22em;
      writing-mode: vertical-lr;
      z-index: 100;
    }
  }
}